.main-div{
    margin: 5rem;
    font-family: 'Comfortaa';
}
.title {
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 35px;
}
.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-convert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-calculator{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.units{
    display: flex;
    flex-direction: row;
}

.icon-convert{
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.calculation-button{
    width: 400px;
}

.entryNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.input-user{
    margin: 1rem;
    width: 500px;
}
@media screen and (max-width: 375px) {
    .main-div{
        margin: 2rem;
    }
    .input-user{
        margin: 1rem;
        width: 100%;
    }
    .calculation-button{
        width: 200px;
    }
    .convertUnitArea .convertUnit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .input-convert{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}