
<div class="main-div">
  <h1 class="title">Welcome to the calculator</h1>
  <form class="form-calculator">
    <p>What do you want to Calculate?</p>
  
      <!-- operations-->
      <select id="operatins" #operatins [value]="selectedOperation" (change)="OpenSelectOperation($event)">
        <option *ngFor="let operation of selectedOperations" [value]="operation.name">
          {{ operation.name }}
        </option>
      </select>

    <p> Now Choose your figure</p>
    
       <!-- figures--> 
      <select [value] = "selectedFigure" (change) = "OpenSelect($event)"> 
        <option *ngFor="let figure of figures" [value]="figure.name">
            {{ figure.name }}
        </option>
      </select>
   
    <div class="entryNumber">
      <!-- Rectangle -->
      <div *ngIf="selectedFigure == 'rectangle'; ">
       <app-rectangle></app-rectangle>
      </div>

     
      <div *ngIf="selectedFigure == 'square';">
        <app-square></app-square>
      </div>

      <div *ngIf="selectedFigure == 'circle';">
        <app-circle></app-circle>
      </div>
      <div *ngIf="selectedFigure == 'Triangle' && selectedOperation == 'Area';">
        <app-triangle></app-triangle>
      </div>

      <div *ngIf="selectedFigure == 'Triangle' && selectedOperation == 'Perimeter';">
        <app-triangle-perimeter></app-triangle-perimeter>
      </div>

      

      <!-- Triangle  Area
      <div *ngIf="selectedFigure == 'Triangle' && selectedOperation.name == 'Area';">
        
        <div class="input-triangle">
          <mat-form-field class="input-user">
            <input required type="text" id="base" matInput placeholder="Please the Base">
          </mat-form-field>
          <mat-form-field class="input-user">
            <input required type="text" id="height" matInput placeholder="Please the Height">
          </mat-form-field>
          <button class="calculation-button" type="button" mat-raised-button color="primary" (click)="TriangleAreaCalculus()">Calculate</button>
          <h3 id="triangleArea">{{ TriangleAreaCalculus() }}</h3>
        </div>
       
        <p>If you want to convert the answer into an other unit, Choose it </p>
        <div class="">
          <div class="input-convert">
            <mat-form-field >
              <mat-select  [(value)]="selectedAreaUnit" (selectionChange) = "OpenSelectArea($event)" >
                <mat-label></mat-label>
                <mat-option  *ngFor="let unitArea of unitsArea" [value]="unitArea.name">
                    {{unitArea.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div id="icon-div">
              <mat-icon class="icon-convert" aria-hidden="false" aria-label="" fontIcon="compare_arrows">
              </mat-icon>
            </div>
            <mat-form-field >
              <mat-select  [(value)]="selectedAreaUnit2" (selectionChange) =" OpenSelectArea_($event)" >
                <mat-label></mat-label>
                <mat-option  *ngFor="let unitArea of unitsArea" [value]="unitArea.name">
                    {{unitArea.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button class="calculation-button" mat-raised-button color="primary" (click) = "convertTriangleArea()">Convert</button>
        <h2 id="convertedTriangleArea">{{  convertTriangleArea() }}</h2>
      </div>
-->
       <!-- Triangle Area
      <div *ngIf="selectedFigure == 'Triangle' && selectedOperation.name == 'Perimeter';">
        <div class="input-div">
          <mat-form-field class="input-user">
            <input required type="text" id="firstside" matInput placeholder="Please enter the first side">
          </mat-form-field>
          <mat-form-field class="input-user">
            <input required type="text" id="secondside" matInput placeholder="Please enter the second side">
          </mat-form-field>
          <mat-form-field class="input-user">
            <input required type="text" id="thirdside" matInput placeholder="Please enter the third side">
          </mat-form-field>
          <button class="calculation-button" type="button" mat-raised-button color="primary" (click)="TrianglePerimeterCalculus()">Calculate</button>
          <h3 id="trianglePerimeter">{{ TrianglePerimeterCalculus() }}</h3>
        </div>
  
        <p>If you want to convert the answer into an other unit, Choose it </p>
        <div class="input-div">
          <div class="input-convert">
            <mat-form-field >
              <mat-select #myUnits [(value)]="selectedUnit" (selectionChange) = "OpenSel($event)" >
                <mat-label></mat-label>
                <mat-option  *ngFor="let unit of units" [value]="unit.name">
                    {{unit.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon class="icon-convert" aria-hidden="false" aria-label="" fontIcon="compare_arrows"></mat-icon>
            <mat-form-field >
              <mat-select #myUnits [(value)]="selectedUnit2" (selectionChange) = "OpenSe($event)" >
                <mat-label></mat-label>
                <mat-option  *ngFor="let unit of units" [value]="unit.name">
                    {{unit.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button class="calculation-button" mat-raised-button color="primary" (click) = "convertTrianglePerimeter()">Convert</button>
          <h2 id="convertedTrianglePerimeter">{{  convertTrianglePerimeter() }}</h2>
        </div>
      </div>
      -->
    </div>
  </form>
</div>

