/* main containers */
.main-div{
    margin: 5rem;
    font-family: 'Comfortaa';
}
.title {
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 35px;
}

.form-calculator{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* end main containers */

/* input */ 
.input-convert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entryNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.input-user{
    margin: 1rem;
    width: 500px;
}

/* end of input */


/* units and icon */
.units{
    display: flex;
    flex-direction: row;
}

.icon-convert{
    margin-bottom: 1rem; 
}


.calculation-button{
    width: 400px;
}

/* end units and icon */

/* Media Queries for Responsive */

@media screen and (max-width: 375px) {
    .main-div{
        margin: 2rem;
    }
    .input-user{
        margin: 1rem;
        width: 100%;
    }
    .calculation-button{
        width: 200px;
    }
     .convertUnit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .convertUnitArea{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .input-convert{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}