<form [formGroup]="squareAreaForm" id="squareAreaForm">
    <app-input [control]="side" type="number"  placeholder="enter a value for the side"></app-input>
    <button 
        class="calculation-button"
        type="button" 
        mat-raised-button color="primary"  
        [disabled]="squareAreaForm.invalid || onClickCalculus"
        onclick="SquareAreaCalculus()"
        >
      Calculate
    </button>



</form>

<h2 [hidden]="isHidden">{{  SquareAreaCalculus() }}</h2>

<div class="select-container">
  <div class="container">
    <div class="select">
      <select id=""  [value]="selectedAreaUnit" (change)="OpenSelectArea($event)">
        <option *ngFor="let unitArea of unitsArea" [value]="unitArea.name">
          {{ unitArea.name }}
        </option>
      </select>
    </div>
  </div>


  <div class="container">
    <div class="select">
      <select id=""  [value]="selectedAreaUnit2" (change)="OpenSelectArea_($event)">
        <option *ngFor="let unitArea of unitsArea" [value]="unitArea.name">
          {{ unitArea.name }}
        </option>
      </select>
    </div>
  </div>

</div>

<button  
    class="calculation-button" 
    mat-raised-button 
    color="primary" 
    (click) = "ConversionSquare()"
  >
  Convert
</button>

