<input
    class="input-user"
    [formControl]="control"
    type="number"
    [placeholder]="placeholder"
    matInput
/>






<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.['required']" class="mistake">
        This is required. Please insert a value
    </p>
    <p *ngIf="control.errors?.['min']" class="mistake">
        Value too low. Cannot be lower than 0
    </p>
    <p *ngIf="control.errors?.['max']" class="mistake">
        Value too high. Cannot exceed 9999
    </p>
    
</ng-container>
