.input-convert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.entryNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.input-user{
    margin: 1rem;
    width: 500px;
    height: 30px;
    background-color: #34495e;
    color: #fff;
  
}

.input-user::placeholder{
    color: #fff;
    font-family: 'Comfortaa';
    padding-left: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mistake{
    color: #fff;
}


@media screen and (max-width: 375px) {
    .input-user{
        margin: 2rem;
        width: 250px;
    }

}