
        <form [formGroup]="trianglePerimeterForm" id="trianglePerimeterForm">
            <app-input [control]="firstSide" type="number" placeholder="Enter value for the first side"></app-input>
            <app-input [control]="secondSide" type="number" placeholder="Enter value for the second side"></app-input>
            <app-input [control]="thirdSide" type="number" placeholder="Enter value for the third side"></app-input>
            <button 
              class="calculation-button" 
              type="button" 
              mat-raised-button 
              color="primary" 
              onclick="TrianglePerimeterCalculus()"
              [disabled]="trianglePerimeterForm.invalid || onClickCalculus"
            >
            Calculate
          </button>
        </form>

    
      <h3 [hidden]="isHidden" id="trianglePerimeter">{{ TrianglePerimeterCalculus() }}</h3>
   

   
        <!-- 
           <p>If you want to convert the answer into an other unit, Choose it </p>
    <div class="input-div">
      <div class="input-convert">
        <mat-form-field >
          <mat-select #myUnits [(value)]="selectedUnit" (selectionChange) = "OpenSel($event)" >
            <mat-label></mat-label>
            <mat-option  *ngFor="let unit of units" [value]="unit.name">
                {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="icon-convert" aria-hidden="false" aria-label="" fontIcon="compare_arrows"></mat-icon>
        <mat-form-field >
          <mat-select #myUnits [(value)]="selectedUnit2" (selectionChange) = "OpenSe($event)" >
            <mat-label></mat-label>
            <mat-option  *ngFor="let unit of units" [value]="unit.name">
                {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        </div>
        -->
      
      <button class="calculation-button" mat-raised-button color="primary" (click) = "convertTrianglePerimeter()">Convert</button>
      <h2 id="convertedTrianglePerimeter">{{  convertTrianglePerimeter() }}</h2>
    
