
<form [formGroup]="rectangleForm" id="rectangleForm">
    <app-input [control]="length" type="number" placeholder="enter a value for the length" ></app-input>
    <app-input [control]="width" type="number"  placeholder="enter a value for the width" ></app-input>
    <button 
      class="calculation-button" 
      type="button" 
      mat-raised-button 
      color="primary"
      onclick="RectangleCalculusPerimeter()"
      [disabled]="rectangleForm.invalid || inSubmission"
     >
      Calculate
    </button>
   
   </form>

   <h2 [hidden]="isHidden">{{ RectangleCalculusPerimeter() }}</h2>
  
  
    <div class="select-container">
    <div class="container">
      <div class="select">
        <select id=""  [value]="selectedUnit" (change)="OpenSel($event)">
          <option *ngFor="let unit of units" [value]="unit.name">
            {{ unit.name }}
          </option>
        </select>
      </div>
    </div>
  
  
    <div class="container">
      <div class="select">
        <select id="" [value]="selectedUnit2" (change)="OpenSe($event)">
          <option *ngFor="let unit of units" [value]="unit.name">
            {{ unit.name }}
          </option>
        </select>
      </div>
    </div>

    </div>
    <button  
    class="calculation-button" 
    mat-raised-button 
    color="primary" 
    (click) = " ConversionRectanglePerimeter()"
    >
    Convert
  </button>

  